APP_URL="MY_APP_URL"

# Secure SMTP Configuration for Contact Form Backend
SMTP_USER="your-email@example.com"
SMTP_PASS="your-app-password"
SMTP_RECEIVER="recipient@example.com"
VITE_CONTACT_EMAIL="recipient@example.com"
